
.farmsTable_page{
  height: 100vh;
  overflow-x: hidden;
}

.farmsRow1{
  margin-top: 3% !important;
}
.farmsRow2{
  margin-top: 3% !important;
}

.farmsSearchbar{
    position: relative;
    width: 100%;
    height: 72px;
    border-radius: 7px;
    border: solid 1px #005f74;
    background: rgba(13, 65, 99, 0.76);
}

.farmsSearchbar::placeholder{
    padding: 6%;
}

.farmsSearchIcon {
    position: absolute;
    top: 19%;
    z-index: 99;
    left: 10%;
    color: #00d1ff;
}

.profileImage_container img{
    width: 37px;
    height: 37px;
}

.stats-profile-image2{
    margin-left: -2%;
}


.farm_details{
    display: flex;
    flex-direction: column;
}

.profileImage_container{
    display: flex;
    padding: 12px;
    align-items: center;

}



.stats_table  {
    width: 100%;
  }

  .stats_table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
  }
  .stats_table tr th,
  .stats_table tr td {
  
    border-bottom: 1px solid #12414b;
    padding: 5px;
  }

  /* .stats_table tr td:last-child{
border-right: 1px solid #bbb;
  } */
  .stats_table tr th:first-child,
  .stats_table tr td:first-child {
    border-left: 1px solid #12414b;
  }
  .stats_table tr th:last-child,
  .stats_table tr td:last-child {
    border-right: 1px solid #12414b;
  }
  .stats_table tr th {
    background:none;
    border-top: 1px solid #12414b;
    font-family: 'Poppins';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #bad1ea;
  padding: 1%;
  padding-left: 2%;
  }
  .stats_table tr td {
    background:none;
    border-top: 1px solid #12414b;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  /* top-left border-radius */
  .stats_table tr:first-child th:first-child {
    border-top-left-radius: 20px;
   
  }
  
  /* top-right border-radius */
  .stats_table tr:first-child th:last-child {
    border-top-right-radius: 20px;
  }

  .stats-details{
    margin-left: 3%;
  }

  .stats-farm-name{
    font-family: 'Poppins';
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #bad1ea;
  }

  .rewardsRow{
    display: flex;
    align-items: center;
    margin-top: 3% !important;
  }

  .reward_img{
    width: 45px !important;
    height: 20px !important;
  }

  .reward_value{
    width: 30px !important;
    font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  }

  .annualized_tag{
    font-family: 'Poppins';
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #bad1ea;
  margin-top: 0;

  }

  .apr_value{
    text-align: left;
    margin-bottom: -5%;
 
  }